* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Space Mono", sans-serif;
}

.navbar {
  padding: 20px 12px;
}

.navbar__title {
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}

.main-content {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  margin-top: 6.4rem;
  width: 100%;
}

.main-content__img {
  margin: 0px auto;
  width: 90%;
}

.main-content__body__title {
  font-weight: 700;
  font-size: 4rem;
  line-height: 7rem;
  letter-spacing: -0.035em;
}

.main-content__body__paragraph {
  margin-top: 3rem;
  font-size: 1.8rem;
}

.main-content__body__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 216px;
  height: 68px;
  margin-top: 66px;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background-color: #333333;
  cursor: pointer;
}

.footer__text {
  margin: 0 auto;
  margin-top: 60px;
  font-size: 1.7rem;
  text-align: center;
  line-height: 4rem;
}
